.cocktail {
    width: 280px;
    height: 350px;
    display: flex;
     overflow: hidden;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(36, 36, 36);
}

.cocktail-image :hover {
    margin-top: -20px;
}

/* .cocktail-name :hover {
    height: 100px;
} */

img :hover{
    transform: translatey(-10px) translatex(-5px) scale(1.05)
}

.cocktail-image {
    width: 100%;
    height: 90%;
    background: #1b262c;
    position: relative;
    top: 0;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}    

img {
    object-fit: fill;
    max-width: auto;
    max-height: 100%;
    transition: ease-in-out 600ms;
}    

.cocktail-name {
    width: 100%;
    height: auto;
    background: #1b262c;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ec8b56;
    text-decoration: none;
}