.Header {
    background-color: #1b262c;
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

}

.Header .leftSide {
    flex: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Header .leftSide .links {
    max-height: 80px;
}

.Header .leftSide .links a, .Header .dropMenu a {
    text-decoration: none;
    color: #ec8b56;
    font-size: 24px;
    margin-left: 15px;
}

.Header .leftSide .links a:hover , .Header .dropMenu a:hover {
    text-decoration: underline;
}

.Header .leftSide button {
    display: none;
    margin-left: 20px;
}

.Header .dropMenu {
    display: flex;
    z-index: 1;
}

.Header .rightSide {
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

.Header .rightSide input {
    width: 220px;
    height: 25px;
    border: none;
    font-size: 20px;
    padding-left: 15px;
    color: black;
    outline: none;
}

.Header .rightSide button {
    height: 27px;
    width: 70px;
    font-size: 16px;
}

.button {
    border: none;
    border-color:#1b262c;
    padding: 0px 0px;
    cursor: pointer;
    outline:none;
}
.button2 {
    border: none;
    border-color:#1b262c;
    padding: 0px 0px;
    outline:none;
}

.buttonImport {
    color: #ec8b56;
    font-size: 40px;
    background-color: #1b262c;
    cursor: pointer;
    padding: 0px 0px;
    outline: none;
}

@media only screen and (max-width: 850px) {
    .Header .leftSide .links a, .Header .dropMenu a {
        font-size: 21px;
    }
}

@media only screen and (max-width: 750px) {
    .Header .leftSide .links a, .Header .dropMenu a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 680px) {
    .Header .leftSide .links a {
        display: none;
    }

    .Header .leftSide button {
        display: flex;
    }

    .Header .dropMenu {
        position: absolute;
        left: 0px;
        top: 80px;
        height: auto;
        width: 100%;
        background-color: #1b262c;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Header .dropMenu a {
        text-decoration: none;
        color: #ec8b56;
        font-size: 20px;
        margin-left: 15px;
    }
}