App {
    width: 100%;
    height: 100%;
}

body {
    background-color:#3d3d3d;
    margin: 0 auto;
    padding: 0;
}

.cocktails-container {
    display: flex;
}

.buttonPr {
    color: #ec8b56;
    font-size: 20px;
    background-color: #1b262c;
    cursor: pointer;
    padding: 0px 0px;
    outline: none;
}
.buttonPrim {
    color: #ec8b56;
    font-size: 20px;
    cursor: pointer;
    padding: 0px 0px;
    outline: none;
}
input {
    width: 300px;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    color: black;
    outline: none;
    align-items: center;
}
.input-2 {
    width: 200px;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}
.input-3 {
    width: 100px;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}
.input-4 {
    width: 720px;
    height: 100px;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}
h5 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ec8b56;
    text-decoration: none;
} 

.grid-container {
    position: center;
    width: 800px;
    margin: auto;
    grid-template-columns: 2;
    grid-template-rows: 3;
    display: grid;
    justify-content: center;
    text-align: center;
}

.item1 {
    grid-column: 1 / 3;
    align-items: center;
}

.item2 {
    grid-row: 2;
    grid-column: 1 / 1;
    width: 400px;
}

.item3 {
    grid-row: 2;
    grid-column: 2 /2;
    width: 400px;
}

.item4 {
    grid-row: 3;
    grid-column: 1 / 3;
}