App {
    width: 100%;
    height: 100%;
}

body {
    background-color:#3d3d3d;
    margin: 0 auto;
    padding: 0;
}

.cocktail-form {
    min-height: 66vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cocktails-container {
    min-height: 66vh;
    grid-template-columns: auto auto auto auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.buttonPr {
    max-width: 300px;
    color: #ec8b56;
    font-size: 20px;
    background-color: #1b262c;
    cursor: pointer;
    padding: 0px 0px;
    outline: none;
}
.buttonPrim {
    color: #ec8b56;
    font-size: 20px;
    cursor: pointer;
    padding: 0px 0px;
    outline: none;
}
input {
    width: 300px;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    color: black;
    outline: none;
    align-items: center;
}
.input-2 {
    width: 200px;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}
.input-3 {
    width: 100px;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}
.input-4 {
    width: 720px;
    height: 100px;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}
h5 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ec8b56;
    text-decoration: none;
} 

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ec8b56;
    text-decoration: none;
} 

.grid-container {
    position: center;
    width: 800px;
    margin: auto;
    grid-template-columns: 2;
    grid-template-rows: 3;
    display: grid;
    justify-content: center;
    text-align: center;
}

.item1 {
    grid-column: 1 / 3;
    align-items: center;
}

.item2 {
    grid-row: 2;
    grid-column: 1 / 1;
    width: 400px;
}

.item3 {
    grid-row: 2;
    grid-column: 2 /2;
    width: 400px;
}

.item4 {
    grid-row: 3;
    grid-column: 1 / 3;
}

@media only screen and (max-width: 980px) {
    .cocktails-container {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 750px) {
    .cocktails-container {
        grid-template-columns: auto auto;
    }
}

.cocktail-img {
    width: 400px;
    height: 400px;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(36, 36, 36);
    justify-content: left;
    align-items: left;
}

p {
    text-align: center;
    font-size: 16px;
    color: #ec8b56;
    text-decoration: none;
    padding: 0.5rem;
}